<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title%> | 极客公园</title>
  <meta name="renderer" content="webkit">
  <meta content="initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>-controller <%= controller_name%>-<%= action_name%>">
  <%
    server_data = @data || {}
    server_data['flash'] = flash
  %>
  <div id="server-data" data-server="<%= server_data.to_json %>"></div>
  <div class="page-wrapper">
    <%= yield %>
  </div>
  <script src="//res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js" async></script>
  <%= webpack_javascript_include_tag 'common' %>
  <%= webpack_javascript_include_tag 'user' if controller_name == 'users' && action_name == 'show'%>
  <%= webpack_javascript_include_tag 'sessions' if controller_name == 'sessions' || (controller_name == 'signup' && action_name == 'new')%>
</body>
</html>
